<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fy.commerce.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.fy.commerce.model.Product" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="market_price" property="marketPrice" jdbcType="DOUBLE" />
    <result column="shop_price" property="shopPrice" jdbcType="DOUBLE" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="is_hot" property="isHot" jdbcType="INTEGER" />
    <result column="upload_date" property="uploadDate" jdbcType="TIMESTAMP" />
    <result column="category_second_id" property="categorySecondId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, product_name, market_price, shop_price, image, description, is_hot, upload_date, 
    category_second_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fy.commerce.model.ProductExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fy.commerce.model.ProductExample" >
    delete from product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fy.commerce.model.Product" >
    <selectKey resultType="java.lang.Short" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID() AS id
    </selectKey>
    insert into product (product_name, market_price,
      shop_price, image, description, 
      is_hot, upload_date, category_second_id
      )
    values (#{productName,jdbcType=VARCHAR}, #{marketPrice,jdbcType=DOUBLE},
      #{shopPrice,jdbcType=DOUBLE}, #{image,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{isHot,jdbcType=INTEGER}, #{uploadDate,jdbcType=TIMESTAMP}, #{categorySecondId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fy.commerce.model.Product" >
    <selectKey resultType="java.lang.Short" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID() AS id
    </selectKey>
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productName != null" >
        product_name,
      </if>
      <if test="marketPrice != null" >
        market_price,
      </if>
      <if test="shopPrice != null" >
        shop_price,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="isHot != null" >
        is_hot,
      </if>
      <if test="uploadDate != null" >
        upload_date,
      </if>
      <if test="categorySecondId != null" >
        category_second_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null" >
        #{marketPrice,jdbcType=DOUBLE},
      </if>
      <if test="shopPrice != null" >
        #{shopPrice,jdbcType=DOUBLE},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="isHot != null" >
        #{isHot,jdbcType=INTEGER},
      </if>
      <if test="uploadDate != null" >
        #{uploadDate,jdbcType=TIMESTAMP},
      </if>
      <if test="categorySecondId != null" >
        #{categorySecondId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fy.commerce.model.ProductExample" resultType="java.lang.Integer" >
    select count(*) from product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update product
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.productName != null" >
        product_name = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.marketPrice != null" >
        market_price = #{record.marketPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.shopPrice != null" >
        shop_price = #{record.shopPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.image != null" >
        image = #{record.image,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.isHot != null" >
        is_hot = #{record.isHot,jdbcType=INTEGER},
      </if>
      <if test="record.uploadDate != null" >
        upload_date = #{record.uploadDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.categorySecondId != null" >
        category_second_id = #{record.categorySecondId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update product
    set id = #{record.id,jdbcType=INTEGER},
      product_name = #{record.productName,jdbcType=VARCHAR},
      market_price = #{record.marketPrice,jdbcType=DOUBLE},
      shop_price = #{record.shopPrice,jdbcType=DOUBLE},
      image = #{record.image,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      is_hot = #{record.isHot,jdbcType=INTEGER},
      upload_date = #{record.uploadDate,jdbcType=TIMESTAMP},
      category_second_id = #{record.categorySecondId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fy.commerce.model.Product" >
    update product
    <set >
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null" >
        market_price = #{marketPrice,jdbcType=DOUBLE},
      </if>
      <if test="shopPrice != null" >
        shop_price = #{shopPrice,jdbcType=DOUBLE},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="isHot != null" >
        is_hot = #{isHot,jdbcType=INTEGER},
      </if>
      <if test="uploadDate != null" >
        upload_date = #{uploadDate,jdbcType=TIMESTAMP},
      </if>
      <if test="categorySecondId != null" >
        category_second_id = #{categorySecondId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fy.commerce.model.Product" >
    update product
    set product_name = #{productName,jdbcType=VARCHAR},
      market_price = #{marketPrice,jdbcType=DOUBLE},
      shop_price = #{shopPrice,jdbcType=DOUBLE},
      image = #{image,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      is_hot = #{isHot,jdbcType=INTEGER},
      upload_date = #{uploadDate,jdbcType=TIMESTAMP},
      category_second_id = #{categorySecondId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectByCategorySecondName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT p.* FROM product p
      INNER JOIN category_second cs ON p.category_second_id = cs.id
    WHERE cs.category_second_name = #{productName, jdbcType=VARCHAR}
  </select>
</mapper>