@charset "utf-8";

/*
 * Copyright 2005-2013 dhcc.com.cn. All rights reserved.
 * Support: http://www.dhcc.com.cn
 * License: http://www.dhcc.com.cn/license
 * 
 * Style - Login
 * Version: 3.0
 */

/* ---------- Login ---------- */

/*div.login .wrap {
	margin-bottom: 10px;
	border: 2px solid #f2f2f2;
}

div.login .main {
	border: 1px solid #d7d7d7;
}

div.login .title {
	height: 40px;
	line-height: 40px;
	color: #d8d8d8;
	font-family: "Microsoft YaHei";
	border-bottom: 1px dotted #ededed;
}

div.login .title strong {
	padding: 0px 10px;
	color: #3164af;
	font-size: 18px;
	font-weight: normal;
}

div.login table {
	width: 100%;
	margin-top: 10px;
}

div.login th {
	width: 90px;
	padding: 12px;
	font-weight: normal;
	text-align: right;
}

div.login .captcha {
	width: 130px;
	!*text-transform: uppercase;*!
	ime-mode: disabled;
}

div.login .submit {
	width: 100px;
	height: 35px;
	line-height: 35px;
	margin-bottom: 10px;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	blr: expression(this.hideFocus = true);
	border: none;
	background: url(/images/login/login.gif) 0px 0px no-repeat;
}

div.login .register {
	background-color: #f3f3f3;
}

div.login .register dt {
	line-height: 40px;
	color: #cc062d;
	font-size: 18px;
	font-family: "Microsoft YaHei";
}

div.login .register dd {
	line-height: 30px;
	color: #565656
}

div.login .register dd a {
	color: #3164af
}

div.login .code
{
	!*background:url(code_bg.jpg);*!
	font-family:Arial;
	font-style:italic;
	color:blue;
	font-size:18px;
	border:0;
	padding:2px 3px;
	letter-spacing:3px;
	font-weight:bolder;
	cursor:pointer;
	width:100px;
	height:30px;
	line-height:30px;
	text-align:center;
	vertical-align:middle;
}*/



/*公共*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: arial,"Lantinghei SC","Microsoft Yahei";
}

html,body {
	height: 100%;
	background:#f5f5f5 ;
}

a {
	color: #000;
	text-decoration: none;
}
hr{margin:5px 5px}
.clear{ clear:both;}
.login-box {width: 100%;}
.login-banner-bg,.login-boxtitle{display: none;}

/*标题*/
h3.title{text-align: center;padding:8px;font-weight: 600;}
.zcnext{position: absolute;right:5px;top:5px ;padding:5px;font-size:14px ;}

/*主题*/
.login-form{background:#fff ;width: 100%;}
form{max-width:320px;margin:20px auto ;}
.user-name,.user-pass,.user-email,.user-phone,.user-captcha,.verification{position: relative;height: 42px;margin-bottom:5px;}
form label{position:absolute;display: block;width: 40px;height: 40px;line-height: 40px;background:#fff;text-align: center;top:1px;left:1px}
form input{font-size: 14px;line-height: 18px;height:42px;padding: 11px 8px 11px 50px;width:100%;border:1px solid #fff;}
input#captcha{width: 180px;line-height: 40px;text-align: center; border: 1px grey; padding-left: 0px; border:1px dashed #9d9d9d;}
.checkCode{width: 55px; font-size: 16px;}
.updateCode{text-align:right; width: 35px;font-size: 8px; color: red;}
input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px #fff inset;}
.am-cf{width: 100%;max-width:320px;margin:0px auto ;}
.am-cf input{width: 100%;font-size: 14px;}
.login-links{max-width:320px;margin:20px auto ;font-size:14px;}

/*合作账号*/
.partner{width: 100%;max-width:320px;margin:20px auto ;font-size:14px;}
.partner h3{text-align: center;}
.am-btn-group{display: block;overflow: hidden;}
.am-btn-group li{width:33.333% ;display: block;float: left;}
.am-btn-group i{margin:0px auto ;display: block;width: 42px;height: 42px;border-radius: 42px;line-height:42px ;padding-left: 10px;border:1px solid #eee ;background:#fff ;color: #0e90d2;}
.am-btn-group span{display: none;}


/*注册*/
.verification {position: relative;}
input#code {width: 80%;}
#dyMobileButton{margin-left: 10px;border: 1px solid #DDD;padding: 0px;width: 15%;height: 40px;background: #F4F4F4 none repeat scroll 0% 0%;margin-top: 0px;text-align: center;line-height:40px;color: #333;text-decoration: none;position: absolute;right: 0px;bottom: 0px;}


/*修改的样式*/
#doc-my-tabs li.am-active a,#doc-my-tabs li a{ background:#f8f8f8;}
.am-tabs-bd{border: none;}
.am-nav-tabs.am-nav-justify li {padding:5px;}
.am-nav-tabs>li>a,.am-nav-tabs.am-nav-justify>li>a,.am-nav-tabs.am-nav-justify>.am-active>a,.am-nav-tabs>li.am-active>a, .am-nav-tabs>li.am-active>a:focus, .am-nav-tabs>li.am-active>a:hover {border: none; color: #000;font-weight: 600;}
.am-nav-tabs.am-nav-justify > .am-active> a, .am-nav-tabs.am-nav-justify>.am-active>a:focus, .am-nav-tabs.am-nav-justify>.am-active>a:hover ,.am-nav-tabs>li.am-active>a,.am-nav-tabs>li.am-active>a:focus, .am-nav-tabs>li.am-active>a:hover {
	margin-right: 0px;border-bottom: 1px solid #0e90d2;border-radius: 0px;}

/*底部*/
.footer {text-align:center;font-size: 14px;padding-top: 4px;}
.footer-bd{ display:none; font-size: 14px;padding-top: 3px;}

@media screen and (min-width:640px){
	form,.am-cf,.partner{max-width:640px;margin:20px auto ;}
	.footer-bd{ display:block;}
	.partner h3 {text-align:left;}
	.am-btn-group i { display:inline-block;border-radius:0px;border:0px;background-color:transparent ;}
	.am-btn-group span{display:inline-block;}
	.am-cf input{width: 100%;font-size: 16px;}
	/*底部*/
	.footer {text-align:center; display:block;position: relative;margin: 0px auto; padding: 7px 0px 9px; margin-top:10px;max-width: 1200px;}
	.footer .footer-bd p, .footer .footer-hd p {margin-bottom: 8px;line-height: 27px;text-align:left;border-bottom:1px solid #ddd ;}
	.footer .footer-bd p{ border-bottom:none;}
}
@media screen and (min-width:1025px){

	.login-box,.login-box2 {width: 100%;max-width:360px;height: 430px;position: absolute;margin-top:20px;margin-left:0px;background:#f8f8f8;right:2%;padding:10px 20px;}
	.login-box2 {height:430px;}
	.login-boxtitle {max-width: 1100px;margin: 10px auto;height: 60px;}
	.login-boxtitle img{height:60px;}
	.login-banner,.res-banner{width:100%;height:470px; background:#fd7a72;}
	.login-main,.res-main{max-width:1000px;height:470px; margin:0px auto; position:relative;}

	/*头部*/
	.login-boxtitle{display: block;}
	.zcnext{right: 20px;top: 15px;}
	/*背景*/
	.login-banner-bg{display:block;float:left;}
	.am-btn-primary{width:100%;}

	/*修改的样式*/
	#doc-my-tabs li.am-active a,#doc-my-tabs li a{ background:#f8f8f8;}
	.am-nav-tabs>li>a,.am-nav-tabs.am-nav-justify>li>a,.am-nav-tabs.am-nav-justify>.am-active>a,.am-nav-tabs>li.am-active>a, .am-nav-tabs>li.am-active>a:focus, .am-nav-tabs>li.am-active>a:hover {border: none; }
}
